## 第三课

#### 牛行知
#### 2020年10月25日

### 类型，向量操作（2），字符串操作（1）

### 复习题

完成函数convert=function(data)，输入一个字符串，输出一个正整数和0构成的向量，令输入中的'A’、'a'对应位置转为1，'B'、'b'转为2，以此类推。不是英文字符的，转换成0.

- 提示：参考函数charToRaw()

In [1]:
# sample input
input = c('aDkBHO3#0z+89}_HA')
# sample output
output = c(1,4,11,2,8,15,0,0,0,26,0,0,0,0,0,8,1)

In [21]:
#interface ( please complete the function )
convert=function(data){
    
    res = NULL
    n=nchar(data)
    for (i in 1:n){
        if (substr(data,i,i)<"A" | substr(data,i,i)>"z"){
            res=c(res,0)
        }else{
            m=as.numeric(charToRaw(tolower(substr(data,i,i))))
            m=m-96
            #print(m)
            res=c(res,m)
        }
    }
    # to code here and assign the return value to res

    return(res)
}

In [39]:
?Comparison
print(convert(input))

 [1]  0  4 11  2  8 15  0  0  0 26  0  0  0  0  0  8  1

In [3]:
# to do small experiments
test=c('a')
print(charToRaw(test))
test=c('a','b')
print(as.numeric(charToRaw(test)))
test='z'
print(charToRaw(test))
test='abc'
print(as.numeric(charToRaw(test)))
test='aA'
print(charToRaw(test))
print(as.numeric(charToRaw(test)))
print(mode(charToRaw(test)))
print(mode(as.numeric(charToRaw(test))))
test=c(97,65)
print(as.raw(test))
print(as.character(as.raw(test)))
print(rawToChar(as.raw(test)))
print(tolower("AaBD2?"))
print(toupper("AabD2?"))

[1] 61

Warning message in charToRaw(test):
"参数应该是长度为一的字符矢量，因此只能用其第一元素"

[1] 97
[1] 7a
[1] 97 98 99
[1] 61 41
[1] 97 65
[1] "raw"
[1] "numeric"
[1] 61 41
[1] "61" "41"
[1] "aA"
[1] "aabd2?"
[1] "AABD2?"

In [8]:
# to check result
print(convert(input))
print(convert_ans(input))

NULL
 [1]  1  4 11  2  8 15  0  0  0 26  0  0  0  0  0  8  1

In [7]:
# Possible Answer to Reference
convert_ans = function(data){
    res = as.numeric(charToRaw(tolower(data))) - 96
    res[which((res<1)|(res>26))]=0
    return(res)
}

In [ ]:
# Notes

### 类型

研究各种各样的数据类型吧。了解到如何判断数据的类型（有的时候这对调试很重要）。测试使用向量组装这些数据类型之后，合并出的向量的数据类型。

#### 基础数据类型

- 数字
- 字符
- 逻辑
- 因子
- 复数

#### 查看数据类型的方法

- mode
- typeof
- class

In [52]:
num = c(4,82,-3,0.5)
chr = c('b','95','0.3','hello')
lgl = c(TRUE,FALSE,FALSE,FALSE)
fac = c(0,1,2,1)
a=complex(real=1,imaginary=1)
b=complex(real=0,imaginary=-1)
com = c(a,b,0,8)

In [50]:
mode(num)
typeof(chr)
class(lgl)
mode(fac)
mode(com)
mode(mode(num))
mode(typeof(chr))
mode(class(lgl))
class(lgl)=='character'
class(lgl)=='logical'
as.character(num)
as.character(as.numeric(chr))
mode(is.numeric(num))
is.numeric(chr)

[1] "numeric"

[1] "character"

[1] "logical"

[1] "numeric"

[1] "complex"

[1] "character"

[1] "character"

[1] "character"

[1] FALSE

[1] TRUE

[1] "4"   "82"  "-3"  "0.5"

Warning message in eval(expr, envir, enclos):
"强制改变过程中产生了NA"

[1] NA    "95"  "0.3" NA

[1] "logical"

[1] FALSE

In [67]:
fac = c(0,1,2,1)
as.numeric(fac)
print(mode(fac))
is.factor(fac)
fac=as.factor(fac)
print(fac)
is.factor(fac)
print(mode(fac))
print(class(fac))
print(fac[2])
print(as.numeric(fac[2]))
as.numeric(fac)

[1] 0 1 2 1

[1] "numeric"

[1] FALSE

[1] 0 1 2 1
Levels: 0 1 2

[1] TRUE

[1] "numeric"
[1] "factor"
[1] 1
Levels: 0 1 2
[1] 2

[1] 1 2 3 2

In [58]:
#Understanding factor
num2=c(90,88,95,59,88,90,100)
print(mode(num2))
print(as.factor(num2))
print(mode(as.factor(num2)))
char2=c('chris','bob','david','alice','bob','chris','emily')
print(mode(char2))
print(as.factor(char2))
print(mode(as.factor(char2)))
summary(as.factor(char2))
print(as.numeric(char2))
print(as.numeric(as.factor(char2)))
print(as.numeric(as.factor(num2)))

[1] "numeric"
[1] 90  88  95  59  88  90  100
Levels: 59 88 90 95 100
[1] "numeric"
[1] "character"
[1] chris bob   david alice bob   chris emily
Levels: alice bob chris david emily
[1] "numeric"

alice   bob chris david emily
    1     2     2     1     1

Warning message in print(as.numeric(char2)):
"强制改变过程中产生了NA"

[1] NA NA NA NA NA NA NA
[1] 3 2 4 1 2 3 5
[1] 3 2 4 1 2 3 5

In [65]:
lgl1=c(TRUE,FALSE,TRUE)
num1=as.factor(c(1,0,1))
print(lgl1)
print(num1)
as.factor(lgl1)
as.numeric(as.factor(lgl1))
as.numeric(lgl1)
as.numeric(num1)

[1]  TRUE FALSE  TRUE
[1] 1 0 1
Levels: 0 1

[1] TRUE  FALSE TRUE
Levels: FALSE TRUE

[1] 2 1 2

[1] 1 0 1

[1] 2 1 2

In [66]:
#Understanding Factor
print(is.factor(as.factor(char2)))
print(is.factor(fac))
fac2=as.factor(char2)
print(mode(fac2)) #To search: why?
print(typeof(fac2)) #To search: why?
print(class(fac2)) #To search: why?
print(is.factor(fac2))
print(is.numeric(fac2))
fac3=c(1,2,1,2,3)
print(mode(fac3))
print(is.factor(fac3))
fac3=as.factor(fac3)
print(mode(fac3))
print(is.factor(fac3))

[1] TRUE
[1] TRUE
[1] "numeric"
[1] "integer"
[1] "factor"
[1] TRUE
[1] FALSE
[1] "numeric"
[1] FALSE
[1] "numeric"
[1] TRUE

In [71]:
#Complex
print(com)
print(com+1)
print(com+complex(real=0,imaginary=2))
print(com*2)
print(com*complex(real=0,imaginary=1))
print(as.complex(3.5))
print(as.numeric(complex(real=1,imaginary=0)))
print(as.numeric(complex(real=1,imaginary=2)))
sqrt(as.complex(-1))

[1] 1+1i 0-1i 0+0i 8+0i
[1] 2+1i 1-1i 1+0i 9+0i
[1] 1+3i 0+1i 0+2i 8+2i
[1]  2+2i  0-2i  0+0i 16+0i
[1] -1+1i  1+0i  0+0i  0+8i
[1] 3.5+0i
[1] 1

Warning message in print(as.numeric(complex(real = 1, imaginary = 2))):
"强制改变时丢弃了虚数部分"

[1] 1

[1] 0+1i

In [79]:
#Concatenating
print(c(com,num))
print(c(com,num,fac)) #line folding
print(c(com,num,as.factor(char2),chr))
print(c(c(com,num,as.factor(char2)),chr))
print(lgl+num)
print(c(lgl,num))
print(c(lgl,chr))
print(c(lgl,com))
print(lgl+com)
#factor->numeric->complex->character
#logical->numeric
print(c(lgl,as.factor(char2)))

[1]  1.0+1i  0.0-1i  0.0+0i  8.0+0i  4.0+0i 82.0+0i -3.0+0i  0.5+0i
 [1]  1.0+1i  0.0-1i  0.0+0i  8.0+0i  4.0+0i 82.0+0i -3.0+0i  0.5+0i  1.0+0i
[10]  2.0+0i  3.0+0i  2.0+0i
 [1] "1+1i"  "0-1i"  "0+0i"  "8+0i"  "4"     "82"    "-3"    "0.5"   "3"
[10] "2"     "4"     "1"     "2"     "3"     "5"     "b"     "95"    "0.3"
[19] "hello"
 [1] "1+1i"   "0-1i"   "0+0i"   "8+0i"   "4+0i"   "82+0i"  "-3+0i"  "0.5+0i"
 [9] "3+0i"   "2+0i"   "4+0i"   "1+0i"   "2+0i"   "3+0i"   "5+0i"   "b"
[17] "95"     "0.3"    "hello"
[1]  5.0 82.0 -3.0  0.5
[1]  1.0  0.0  0.0  0.0  4.0 82.0 -3.0  0.5
[1] "TRUE"  "FALSE" "FALSE" "FALSE" "b"     "95"    "0.3"   "hello"
[1] 1+0i 0+0i 0+0i 0+0i 1+1i 0-1i 0+0i 8+0i
[1] 2+1i 0-1i 0+0i 8+0i
 [1] 1 0 0 0 3 2 4 1 2 3 5

In [84]:
#Integer and Floating 
print(num)
print(as.integer(num))
print(as.double(num))
integer_num=as.integer(num)
double_num=as.double(num)
print(mode(integer_num))
print(class(integer_num))
print(typeof(integer_num))
print(mode(double_num))
print(class(double_num))
print(typeof(double_num))

[1]  4.0 82.0 -3.0  0.5
[1]  4 82 -3  0
[1]  4.0 82.0 -3.0  0.5
[1] "numeric"
[1] "integer"
[1] "integer"
[1] "numeric"
[1] "numeric"
[1] "double"

In [88]:
test=as.integer(c(1,2,3))
print(test)
print(typeof(test))
test1=as.double(test)
print(test1)
print(as.character(test1))
print(typeof(test1))

[1] 1 2 3
[1] "integer"
[1] 1 2 3
[1] "1" "2" "3"
[1] "double"

#### 非数字值的产生
数据中会出现很多不合法的数值。研究各种这些数值的类型吧。

- NaN
- NA
- Inf
- -Inf
- NULL

In [89]:
a = c(3,5,7,0,-1)
b = c(1,3,0,0,0)
print(a/b)
print(sqrt(a))
c = c('1','5','-1','3+i','nxz')
print(as.numeric(c))
print(as.complex(c))
print(sqrt(as.complex(c)))
print(sqrt(as.complex(a)))
d = c('g',6,NULL)
print(d)
print(c(c,d))
e = c(NULL,3)
print(c(d,e))
f = NULL
print(mode(f))
print(class(f))
print(typeof(f))
g = NaN
print(mode(g))

[1] 3.000000 1.666667      Inf      NaN     -Inf

Warning message in sqrt(a):
"产生了NaNs"

[1] 1.732051 2.236068 2.645751 0.000000      NaN

Warning message in print(as.numeric(c)):
"强制改变过程中产生了NA"

[1]  1  5 -1 NA NA

Warning message in print(as.complex(c)):
"强制改变过程中产生了NA"

[1]  1+0i  5+0i -1+0i    NA    NA

Warning message in print(sqrt(as.complex(c))):
"强制改变过程中产生了NA"

[1] 1.000000+0i 2.236068+0i 0.000000+1i          NA          NA
[1] 1.732051+0i 2.236068+0i 2.645751+0i 0.000000+0i 0.000000+1i
[1] "g" "6"
[1] "1"   "5"   "-1"  "3+i" "nxz" "g"   "6"
[1] "g" "6" "3"
[1] "NULL"
[1] "NULL"
[1] "NULL"
[1] "numeric"

### 向量操作（2）：筛选
可以很容易地对向量进行简单的筛选。试着使用各种条件来筛选吧。

- \[\]
- subset
- which

In [106]:
datanum=c(1,2,3)
datanum>2
datanum[c(1,3)]
datanum=c(1,2,3,4)
dataref=c(1,2)
datanum+dataref

[1] FALSE FALSE  TRUE

[1] 1 3

[1] 2 4 4 6

In [108]:
data = c(10,9,8,7,6,5,4,3,2,1)
print(data[data>3])
print(which(data>3))
print(mode(which(data>3)))
print(mode(data>3))
print(data[which(data>3)])
print(which(data%%2==0))
print(data>3)
ref = c(1,3,5,7,9,11,13,15,17,19)
print(data>ref)
print(data[which(data>ref)])
data2=as.numeric(c('1.3','b','3'))
print(data2)
data2>1.5
print(data2[which(data2>1.5)])
print(data2[data2>1.5])
print(subset(data2,data2>1.5))

[1] 10  9  8  7  6  5  4
[1] 1 2 3 4 5 6 7
[1] "numeric"
[1] "logical"
[1] 10  9  8  7  6  5  4
[1] 1 3 5 7 9
 [1]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE
 [1]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[1] 10  9  8

Warning message in eval(expr, envir, enclos):
"强制改变过程中产生了NA"

[1] 1.3  NA 3.0

[1] FALSE    NA  TRUE

[1] 3
[1] NA  3
[1] 3

In [111]:
name=c('nxz','bwx','qzp')
score=c(100,99,98,97,94,100)
name=='nxz'
which(name=='nxz')
score[name=='nxz']
score[which(name=='nxz')]
subset(score,name=='nxz')

[1]  TRUE FALSE FALSE

[1] 1

[1] 100  97

[1] 100

[1] 100  97

In [113]:
#Different usages
print(data)
ref = c(2,9,7)
print(data[ref])
ref = c(rep(FALSE,3),rep(TRUE,6),FALSE)
print(data[ref])
ref = c(1,0,1,0,1,0,1,0,1,1)
print(data[ref])
print(data[which(ref==1)])
print(data[as.logical(ref)])
ref = c(1,2,3)
print(data[ref<3])
print(data[which(ref<3)]) #why?
print(data[which(data%%2==0)])
print(data[which(data*data>15)])
print(data[sort(which(data*data>15),decreasing=TRUE)])
print(data[which(rank(data)<3)])

 [1] 10  9  8  7  6  5  4  3  2  1
[1] 9 2 4
[1] 7 6 5 4 3 2
[1] 10 10 10 10 10 10
[1] 10  8  6  4  2  1
[1] 10  8  6  4  2  1
[1] 10  9  7  6  4  3  1
[1] 10  9
[1] 10  8  6  4  2
[1] 10  9  8  7  6  5  4
[1]  4  5  6  7  8  9 10
[1] 2 1

### 字符串操作（1）：大小写，截取子串，ASCII码

尝试使用以下函数进行大小写转换

- tolower()
- toupper()

使用以下函数可以获得字符串长度

- nchar()


使用以下函数可以进行子串的截取

- substr()

使用以下函数将字符串转换成ASCII码的十六进制表示

- charToRaw()

将十进制表示的ASCII码转换成字符串

- rawToChar(as.raw())

In [114]:
chr="Hello World! 3 plus 5 = Eight."
print(tolower(chr))
print(toupper(chr))
print(nchar(chr))
print(length(chr))
print(length(c(chr,'hello world')))
print(nchar(c(chr,'hello world')))
print(substr(chr,1,5))
print(substr(chr,-1,-2))
print(substr(chr,5,1))
print(substr(chr,-1,3))
print(substr(chr,3,100))
print(substring(chr,3)) #Check this
print(charToRaw(chr))
print(mode(charToRaw(chr)))
print(as.numeric(charToRaw(chr)))
print(as.raw(as.numeric(charToRaw(chr))))
print(rawToChar(as.raw(as.numeric(charToRaw(chr)))))

[1] "hello world! 3 plus 5 = eight."
[1] "HELLO WORLD! 3 PLUS 5 = EIGHT."
[1] 30
[1] 1
[1] 2
[1] 30 11
[1] "Hello"
[1] ""
[1] ""
[1] "Hel"
[1] "llo World! 3 plus 5 = Eight."
[1] "llo World! 3 plus 5 = Eight."
 [1] 48 65 6c 6c 6f 20 57 6f 72 6c 64 21 20 33 20 70 6c 75 73 20 35 20 3d 20 45
[26] 69 67 68 74 2e
[1] "raw"
 [1]  72 101 108 108 111  32  87 111 114 108 100  33  32  51  32 112 108 117 115
[20]  32  53  32  61  32  69 105 103 104 116  46
 [1] 48 65 6c 6c 6f 20 57 6f 72 6c 64 21 20 33 20 70 6c 75 73 20 35 20 3d 20 45
[26] 69 67 68 74 2e
[1] "Hello World! 3 plus 5 = Eight."

### 练习题1

完成函数clean=function(data)，输入一个numeric类型的向量并保证全是整数，返回一个向量，返回值中去掉输入中的'NA'，将'NaN'改为0，将'Inf'改为输入数据中正常数据中最大的那个数加上65536的值，将‘-Inf’改为输入数据中正常数据中最小的那个数减去65536的值。返回值的向量长度可能和输入的向量不同，但要求留存的数据的顺序不变。

In [116]:
# sample input
input = c(1,3,NA,-2,9,Inf,199,NaN,2,9,-Inf,NA,-8)
# sample output
output = c(1,3,-2,9,65735,0,2,9,-65544,-8)

In [ ]:
#interface ( please complete the function )
clean=function(data){
    
    res = NULL
    # to code here and assign the return value to res

    return(res)
}

In [ ]:
# to do small experiments

In [ ]:
# to check result
print(clean(input))

### 练习题2

完成函数strhash=function(string)，输入一个字符串，输出一个非负整数作为这个字符串的“验证密钥”。字符串的验证密钥的值由以下函数迭代定义：
- strhash("")=0
- strhash(paste(s,chr))=(strhash(s) + 1) x (ASCII(chr) + 1） %% 65536

In [ ]:
# sample input
input = "Hello World!"
# sample output
output = 16788

In [ ]:
#interface ( please complete the function )
strhash=function(string){
    res = NULL
    # to code here and assign the return value to res

    return(res)
}

In [ ]:
# to do small experiments

In [ ]:
# to check result
print(strhash(input))